name: "(Optional) Nix dev env, Linux, main"

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: "45 03 * * *"


env:
  cachixAccount: "hnix-store"
  CACHIX_SIGNING_KEY: ${{ secrets.CACHIX_SIGNING_KEY }}


jobs:
  #  2020-12-22: NOTE: This is very MVP - is should be expanded, like it is in HNix.
  build10:
    name: "Default"
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        packageRoot: [ hnix-store-core, hnix-store-remote ]
    defaults:
      run:
        working-directory: "./${{ matrix.packageRoot }}"
    steps:
    - name: "Git checkout"
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: "Install Nix"
      uses: cachix/install-nix-action@v17
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: "Install Cachix"
      uses: cachix/cachix-action@v10
      with:
        name: ${{ env.cachixAccount }}
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - name: "Determined Nix-build"
      run: nix-build ../ -A "haskellPackages.${{ matrix.packageRoot }}"
      env:
        #  2020-12-22: NOTE: allowBroken ideally should be temporary.
        NIXPKGS_ALLOW_BROKEN: "1"



